<div class="s-testimonials">

    <div class="overlay"></div>

    <div class="row testimonials-header">
        <div class="col-full">
            <h1 class="h02">İnsanlar benim için ne dediler</h1>
        </div>
    </div>

    <div class="row testimonials">

        <div class="col-full testimonials__slider">

            <div class="testimonials__slide">
                <img src="~/hola-master/images/avatars/user-01.jpg" alt="Author image" class="testimonials__avatar">
                <p>
                    Burada sizin resminiz ve mesleyim konusunda güzel yorumlarınız ola bilir.
                </p>
                <div class="testimonials__author h06">
                    İsminiz
                    <span>Mesleğiniz</span>
                </div>
            </div>

            <div class="testimonials__slide">
                <img src="~/hola-master/images/avatars/user-05.jpg" alt="Author image" class="testimonials__avatar">
                <p>
                    Burada sizin resminiz ve mesleyim konusunda güzel yorumlarınız ola bilir.
                </p>
                <div class="testimonials__author h06">
                    İsminiz
                    <span>Mesleğiniz</span>
                </div>
            </div>

            <div class="testimonials__slide">
                <img src="~/hola-master/images/avatars/user-02.jpg" alt="Author image" class="testimonials__avatar">
                <p>
                    Burada sizin resminiz ve mesleyim konusunda güzel yorumlarınız ola bilir.
                </p>
                <div class="testimonials__author h06">
                    İsminiz
                    <span>Mesleğiniz</span>
                </div>
            </div>

        </div> <!-- end testimonials__slider -->

    </div> <!-- end testimonials -->

</div>